<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @character.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Abbrevation:</strong>
  <%= @character.abbrevation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @character.reputation %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @character.alignment %>
</p>

<p>
  <strong>Level total:</strong>
  <%= @character.level_total %>
</p>

<p>
  <strong>Hpmax:</strong>
  <%= @character.hpmax %>
</p>

<p>
  <strong>Hpcurrent:</strong>
  <%= @character.hpcurrent %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @character.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @character.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @character.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @character.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @character.charisma %>
</p>

<p>
  <strong>Blood deriviation:</strong>
  <%= @character.blood_deriviation_id %>
</p>

<p>
  <strong>Blood strength:</strong>
  <%= @character.blood_strength %>
</p>

<p>
  <strong>Blood score:</strong>
  <%= @character.blood_score %>
</p>

<p>
  <strong>Location:</strong>
  <%= @character.location_id %>
</p>

<p>
  <strong>Trainedthisround:</strong>
  <%= @character.trainedThisRound %>
</p>

<p>
  <strong>Isalieutenant:</strong>
  <%= @character.isALieutenant %>
</p>

<p>
  <strong>Isallowed:</strong>
  <%= @character.isAllowed %>
</p>

<p>
  <strong>Roundscarriedmaxrp:</strong>
  <%= @character.roundsCarriedMaxRP %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
